<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>On Stage</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="/css/slider.css">
	<link rel="stylesheet" type="text/css" href="/css/carrusel.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

	<header>

		<nav>
			<img src="/icon/logo.png">
		</nav>

		<div class='textoHeaders'>
			<p>SOMOS EXPERTOS EN HACER DE TUS
			EVENTOS UNA EXPERIENCIA INOLVIDABLE</p>

			<h1>ON STAGE</h1>

			<p>ESPECIALISTAS EN SONIDO,ILUMINACION
				,PANTALLAS DEL,TARIMA ,ESTRUCTURA Y
			TECHOS EN TRUSS</p>
		</div>

	</header>

	<section class='queEs'>
		<h2>¿QUE ES ON STAGE?</h2>

		<p>"On Stage" es una empresa dedicada a la producción de eventos y espectáculos en vivo.
			Fundada en 2016, la empresa se ha destacado por su excelencia en la creación y ejecución
			de experiencias únicas y memorables para sus clientes y audiencias. Con un equipo
		altamente capacitado y creativo.</p>
	</section>
	<div class='iluminacion'>
		<h2>SONIDO</h2>
		
	</div>
	<!--CARRUSEL-->
	<section class='techo'>
		<div class="slider-container">
			<div class="slider">
				<% for(let x = 0 ; x < sonido.length;x++){ %>
				<div class="slide"><img src="/sonido/<%=sonido[x]%>" alt="Imagen"></div>
				<% } %>
			</div>
			<div class="prev" onclick="moveSlideN(-1)">&#10094;</div>
			<div class="next" onclick="moveSlideN(1)">&#10095;</div>
		</div>
	</section>

	<section class="iluminacion">
		<h2>ILUMINACIÓN</h2>
		<a href="/iluminacion" class='b' data-info='iluminacion' title='¡¡Haz click aqui!!'>Ver mas</a>
	</section>

	<section class="bodasContainer">
		<img src="/iluminacion/iluminacion-01.JPEG">
		<img src="/iluminacion/iluminacion-14.JPEG">
	</section>

	<section class="iluminacion">
		<h2>PANTALLAS LED</h2>
	</section>

	<section class='pantallas-led'>

		<!-----***************AQUIIIIIIIII*******************************--->
		<div class="slider-container">
			<div class="slider">
				<% for(let r = 0 ; r < pantallaLed.length;r++){ %>
				<div class="slid3"><img src="/pantallas led/<%=pantallaLed[r]%>" alt="Imagen"></div>
				<% } %>
			</div>
			<div class="prev" onclick="moveSliden(-1)">&#10094;</div>
			<div class="next" onclick="moveSliden(1)">&#10095;</div>
		</div>
	</section>

	<section class="iluminacion">
		<h2>ESTRUCTURAS</h2>
	</section>

	<section class="estructura">
		<div class="slider-container">
			<div class="slider">
				<% for(let p = 0 ; p < estructura.length;p++){ %>
				<div class="slid33"><img src="/estructura/<%=estructura[p]%>" alt="Imagen"></div>
				<% } %>
			</div>
			<div class="prev" onclick="moveSlid(-1)">&#10094;</div>
			<div class="next" onclick="moveSlid(1)">&#10095;</div>
		</div>
	</section>

	<section class="iluminacion">
		<h2>TECHO EN TRUSS</h2>
	</section>

	<section class="techo">
		<div class="slider-container">
			<div class="slider">
				<% for(let t = 0 ; t < techo.length;t++){ %>
				<div class="slid333"><img src="/techo/<%=techo[t]%>" alt="Imagen"></div>
				<% } %>
			</div>
			<div class="prev" onclick="moveSli(-1)">&#10094;</div>
			<div class="next" onclick="moveSli(1)">&#10095;</div>
		</div>
	</section>


	<section class="iluminacion">
		<h2>TARIMA</h2>
	</section>

	<section class="tarimA">
		<div class="slider-container">
			<div class="slider">
				<% for(let tt = 0 ; tt < tarima.length;tt++){ %>
				<div class="slid3333"><img src="/tarima/<%=tarima[tt]%>" alt="Imagen"></div>
				<% } %>
			</div>
			<div class="prev" onclick="moverSlide(-1)">&#10094;</div>
			<div class="next" onclick="moverSlide(1)">&#10095;</div>
		</div>
	</section>

	<section class="iluminacion">
		<h2>BODAS</h2>
		<a href='/bodas' class='b' data-info='bodas' title='¡¡Haz click aqui!!'>Ver mas</a>
	</section>

	<section class="bodasContainer">
		<img src="/iluminacion/bodas/bodas-01.JPEG">
		<img src="/iluminacion/bodas/bodas-02.JPEG">
	</section>

	<section class="iluminacion">
		<h2>POOL PARTY</h2>
		<a href='#' class='b' data-info='pool' title='¡¡Haz click aqui!!'>Ver mas</a>
	</section>

	<section class="bodasContainer">
		<img src="/pool party/pool-01.jpg">
		<img src="/pool party/pool-02.jpg">
	</section>

	<section class="iluminacion">
		<h2>CONCIERTOS</h2>
		<a href='#' class='b' data-info='conciertos' title='¡¡Haz click aqui!!'>Ver mas</a>
	</section>

	<section class="bodasContainer">
		<img src="/conciertos/conciertos-01.JPG">
		<img src="/conciertos/conciertos-02.PNG">
	</section>

	<section class="iluminacion">
		<h2>VIDEOS</h2>
	</section>

	<section class="video div1">

		<div class="slider-container">
			<div class="slider iframeSlider">
				
			</div>
			<div class="prev" onclick="moverSliderr(-1)">&#10094;</div>
			<div class="next" onclick="moverSliderr(1)">&#10095;</div>
		</div>
		
	</section>


	<section class="iluminacion">
		<h2>CONTACTANOS</h2>
	</section>

	<footer>

		<div class='redess'>

			<div>
				<a title='¡¡Haz click aqui!!' href="https://www.instagram.com/onstage.mgta?igsh=MWM2dzczcXJnOTQ3bQ=="><img class='imgRedSocial' src="/icon/instagram.png"></a> 
			</div>

			<div> 
				<a title='¡¡Haz click aqui!!' href="https://Wa.me/+584123538503"><img class='imgRedSocial' src="/icon/whatsapp.png"></a>
			</div>

		</div>
		<!--------------------------------------------------------------->
		<div>
			&copy; Copyright <strong>On Stage</strong>. Todos los Derechos Reservados.
		</div>

	</footer>
	<script type="text/javascript" src='/js/insertIframe.js'></script>
	<script type="text/javascript" src='/js/carrusel.js'></script>
	<script type="text/javascript" src='/js/Slider/slider-01.js'></script>
	<script type="text/javascript" src='/js/Slider/slider-02.js'></script>
	<script type="text/javascript" src='/js/Slider/slider-03.js'></script>
	<script type="text/javascript" src='/js/Slider/slider-04.js'></script>
	<script type="text/javascript" src='/js/Slider/slider-05.js'></script>
	<script type="text/javascript" src='/js/Slider/slider-video.js'></script>
</body>
</html>
